h1{
    color: #40606D;
    text-align: center;
}
h2{
    color: #40606D;
    text-align: center;
}
h3{
    color:gold;
}
h4{
    text-align: center;
    color: #40606D;
}
ul {
    list-style-type: none;
    margin: 5px;
    padding: 3px 27px;
    background-color:transparent;
    color:white;
    font-size: 25px;
    
}

li {
     display: inline;
   
    
}

.navbutton{
 padding: 3px 27px;
 margin: 6px 19px;
 background-color: transparent;
 color:#40606D;
 font-size: 25px;
 border: none;  
}
body {
    background-color: #f2e7d5;
}
#active{
    background-color:peachpuff ;
}